---
import MainLayout from "../layouts/MainLayout.astro";
import { Image } from "astro:assets";

import homepageSlider from "../styles/img/homepageSlider.png";
import laptop from "../styles/img/laptop.png";
---

<MainLayout title="Home">
	<main class="mx-20">	
		<!-- carousel	 -->
		<section class="carousel relative">
			<div class="carousel-inner relative overflow-hidden">
				<!--Slide 1-->
				<input
					class="carousel-open"
					type="radio"
					id="carousel-1"
					name="carousel"
					aria-hidden="true"
					hidden=""
					checked="checked"
				/>
				<div class="carousel-item absolute opacity-0">
					<Image src={homepageSlider} alt="homepageSlider" />					
				</div>
				<span class="control-1"></span>

				<!--Slide 2-->
				<input
					class="carousel-open"
					type="radio"
					id="carousel-2"
					name="carousel"
					aria-hidden="true"
					hidden=""
				/>
				
				<div class="carousel-item absolute opacity-0">
					<Image src={homepageSlider} alt="homepageSlider" />					
				</div>
				<span class="control-2"></span>

				<!--Slide 3-->
				<input
					class="carousel-open"
					type="radio"
					id="carousel-3"
					name="carousel"
					aria-hidden="true"
					hidden=""
				/>
				
				<div class="carousel-item absolute opacity-0">
					<Image src={homepageSlider} alt="homepageSlider" />					
				</div>
				<span class="control-3"></span>
				<!-- Add additional indicators for each slide-->
				<ul class="carousel-indicators gap-1">
					<li class="inline-block">
						<label
							for="carousel-1"
							class="carousel-bullet cursor-pointer text-4xl text-white hover:text-activeColor"
							>•</label
						>						
					</li>
					<li class="inline-block">
						<label
							for="carousel-2"
							class="carousel-bullet cursor-pointer block text-4xl text-white hover:text-activeColor"
							>•</label
						>
					</li>
					<li class="inline-block">
						<label
							for="carousel-3"
							class="carousel-bullet cursor-pointer block text-4xl text-white hover:text-activeColor"
							>•</label
						>
					</li>
				</ul>
			</div>
		</section>
		<!-- shop by categories -->
		<section class="mt-20">
			<p class="pl-4 ml-2 text-2xl font-medium border-l-4 border-solid border-l-activeColor">
				Shop by Categories
			</p>
			<div class="flex flex-wrap gap-6 mt-12">
				<a href="#" class="flex flex-col items-center gap-2">
					<Image class="rounded-full bg-gray-100 py-2 object-cover h-[167px] w-[167px]" src={laptop} alt="laptop by category" />
					<span class="capitalize font-semibold">laptops</span>
				</a>
				<a href="#" class="flex flex-col items-center gap-2">
					<Image class="rounded-full bg-gray-100 py-2 object-cover h-[167px] w-[167px]" src={laptop} alt="laptop by category" />
					<span class="capitalize font-semibold">phones</span>
				</a>
				<a href="#" class="flex flex-col items-center gap-2">
					<Image class="rounded-full bg-gray-100 py-2 object-cover h-[167px] w-[167px]" src={laptop} alt="laptop by category" />
					<span class="capitalize font-semibold">tablets</span>
				</a>
				<a href="#" class="flex flex-col items-center gap-2">
					<Image class="rounded-full bg-gray-100 py-2 object-cover h-[167px] w-[167px]" src={laptop} alt="laptop by category" />
					<span class="capitalize font-semibold">headphones</span>
				</a>
				<a href="#" class="flex flex-col items-center gap-2">
					<Image class="rounded-full bg-gray-100 py-2 object-cover h-[167px] w-[167px]" src={laptop} alt="laptop by category" />
					<span class="capitalize font-semibold">air pods</span>
				</a>
				<a href="#" class="flex flex-col items-center gap-2">
					<Image class="rounded-full bg-gray-100 py-2 object-cover h-[167px] w-[167px]" src={laptop} alt="laptop by category" />
					<span class="capitalize font-semibold">accessories</span>
				</a>
			</div>
		</section>
		<!-- shop by brand -->
		<section class="mt-20">
			<p class="pl-4 ml-2 text-2xl font-medium border-l-4 border-solid border-l-activeColor">
				Shop by Brand
			</p>
			<div class="flex flex-wrap gap-6 mt-12">
				<a href="#" class="flex flex-col items-center gap-2">
					<Image class="rounded-full bg-gray-100 py-2 object-cover h-[167px] w-[167px]" src={laptop} alt="laptop by category" />
					<span class="capitalize font-semibold">apple</span>
				</a>
				<a href="#" class="flex flex-col items-center gap-2">
					<Image class="rounded-full bg-gray-100 py-2 object-cover h-[167px] w-[167px]" src={laptop} alt="laptop by category" />
					<span class="capitalize font-semibold">samsung</span>
				</a>
				<a href="#" class="flex flex-col items-center gap-2">
					<Image class="rounded-full bg-gray-100 py-2 object-cover h-[167px] w-[167px]" src={laptop} alt="laptop by category" />
					<span class="uppercase font-semibold">xiaomi</span>
				</a>
				<a href="#" class="flex flex-col items-center gap-2">
					<Image class="rounded-full bg-gray-100 py-2 object-cover h-[167px] w-[167px]" src={laptop} alt="laptop by category" />
					<span class="capitalize font-semibold">iTel</span>
				</a>
				<a href="#" class="flex flex-col items-center gap-2">
					<Image class="rounded-full bg-gray-100 py-2 object-cover h-[167px] w-[167px]" src={laptop} alt="laptop by category" />
					<span class="capitalize font-semibold">techno</span>
				</a>
				<a href="#" class="flex flex-col items-center gap-2">
					<Image class="rounded-full bg-gray-100 py-2 object-cover h-[167px] w-[167px]" src={laptop} alt="laptop by category" />
					<span class="capitalize font-semibold">nokia</span>
				</a>
			</div>
		</section>
		<section class="mt-20">
			<p class="pl-4 ml-2 text-2xl font-medium border-l-4 border-solid border-l-activeColor">
				New Arrivals
			</p>
			<p class="flex flex-wrap gap-6 mt-12 capitalize font-semibold">
				<a class="hover:border-b-4 hover:border-b-activeColor" href="">all products</a>
				<a class="hover:border-b-4 hover:border-b-activeColor" href="">laptops</a>
				<a class="hover:border-b-4 hover:border-b-activeColor" href="">tablets</a>
				<a class="hover:border-b-4 hover:border-b-activeColor" href="">phones</a>
				<a class="hover:border-b-4 hover:border-b-activeColor" href="">headphones</a>
				<a class="hover:border-b-4 hover:border-b-activeColor" href="">air pods</a>
				<a class="hover:border-b-4 hover:border-b-activeColor" href="">accessories</a>
			</p>
			<div class="flex flex-wrap gap-4 mt-12">
				<div class="w-[23%] p-2 flex flex-col items-center gap-4 hover:border-2 hover:border-activeColor hover:rounded-[20px]">
					<Image src={laptop} alt="laptop by category" />
					<button class="bg-activeColor py-2 rounded-lg w-full text-white">Add to cart</button>
					<p class="capitalize font-semibold text-center">Nutrabey a a a a a Gold 100% Whey Protein Concentrate</p>
				</div>
				<div class="w-[23%] p-2 flex flex-col items-center gap-4 hover:border-2 hover:border-activeColor hover:rounded-[20px]">
					<Image src={laptop} alt="laptop by category" />
					<button class="bg-activeColor py-2 rounded-lg w-full text-white">Add to cart</button>
					<p class="capitalize font-semibold text-center">Nutrabey Gold 100% Whey Protein Concentrate</p>
				</div>
				<div class="w-[23%] p-2 flex flex-col items-center gap-4 hover:border-2 hover:border-activeColor hover:rounded-[20px]">
					<Image src={laptop} alt="laptop by category" />
					<button class="bg-activeColor py-2 rounded-lg w-full text-white">Add to cart</button>
					<p class="capitalize font-semibold text-center">Nutrabey Gold 100% Whey Protein Concentrate</p>
				</div>
				<div class="w-[23%] p-2 flex flex-col items-center gap-4 hover:border-2 hover:border-activeColor hover:rounded-[20px]">
					<Image src={laptop} alt="laptop by category" />
					<button class="bg-activeColor py-2 rounded-lg w-full text-white">Add to cart</button>
					<p class="capitalize font-semibold text-center">Nutrabey Gold 100% Whey Protein Concentrate</p>
				</div>
				<div class="w-[23%] p-2 flex flex-col items-center gap-4 hover:border-2 hover:border-activeColor hover:rounded-[20px]">
					<Image src={laptop} alt="laptop by category" />
					<button class="bg-activeColor py-2 rounded-lg w-full text-white">Add to cart</button>
					<p class="capitalize font-semibold text-center">Nutrabey Gold 100% Whey Protein Concentrate</p>
				</div>
				<div class="w-[23%] p-2 flex flex-col items-center gap-4 hover:border-2 hover:border-activeColor hover:rounded-[20px]">
					<Image src={laptop} alt="laptop by category" />
					<button class="bg-activeColor py-2 rounded-lg w-full text-white">Add to cart</button>
					<p class="capitalize font-semibold text-center">Nutrabey Gold 100% Whey Protein Concentrate</p>
				</div>
				<div class="w-[23%] p-2 flex flex-col items-center gap-4 hover:border-2 hover:border-activeColor hover:rounded-[20px]">
					<Image src={laptop} alt="laptop by category" />
					<button class="bg-activeColor py-2 rounded-lg w-full text-white">Add to cart</button>
					<p class="capitalize font-semibold text-center">Nutrabey Gold 100% Whey Protein Concentrate</p>
				</div>
				<div class="w-[23%] p-2 flex flex-col items-center gap-4 hover:border-2 hover:border-activeColor hover:rounded-[20px]">
					<Image src={laptop} alt="laptop by category" />
					<button class="bg-activeColor py-2 rounded-lg w-full text-white">Add to cart</button>
					<p class="capitalize font-semibold text-center">Nutrabey Gold 100% Whey Protein Concentrate</p>
				</div>
				<div class="w-[23%] p-2 flex flex-col items-center gap-4 hover:border-2 hover:border-activeColor hover:rounded-[20px]">
					<Image src={laptop} alt="laptop by category" />
					<button class="bg-activeColor py-2 rounded-lg w-full text-white">Add to cart</button>
					<p class="capitalize font-semibold text-center">Nutrabey Gold 100% Whey Protein Concentrate</p>
				</div>
			</div>
		</section>
		
	</main>
	<section class="p-8"></section>
</MainLayout>
<style>
	/* carousel */
	.carousel-open:checked + .carousel-item {
		position: static;
		opacity: 100;
	}
	.carousel-item {
		-webkit-transition: opacity 0.6s ease-out;
		transition: opacity 0.6s ease-out;
	}
	#carousel-1:checked ~ .control-1,
	#carousel-2:checked ~ .control-2,
	#carousel-3:checked ~ .control-3 {
		display: block;
	}
	.carousel-indicators {
		list-style: none;
		margin: 0;
		padding: 0;
		position: absolute;
		bottom: 2%;
		left: 0;
		right: 0;
		text-align: center;
		z-index: 10;
	}
	#carousel-1:checked
		~ .control-1
		~ .carousel-indicators
		li:nth-child(1)
		.carousel-bullet,
	#carousel-2:checked
		~ .control-2
		~ .carousel-indicators
		li:nth-child(2)
		.carousel-bullet,
	#carousel-3:checked
		~ .control-3
		~ .carousel-indicators
		li:nth-child(3)
		.carousel-bullet {
			border: solid 2px #38CB89;
			border-radius: 60px;
		/* color: black; */
		 /*Set to match the Tailwind colour you want the active one to be */
	}
</style>
